pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "sp"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ErrorMessage",
					"value": {
						"value": "@string(activity('Stored procedure1'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ErrorMessage": {
				"type": "String"
			}
		},
		"annotations": []
	}
}